NODE_ENV=development
HOST=0.0.0.0
PORT=8080
DATABASE_URL=postgresql://postgres.gszesqorjgtcjccpixkx:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
DATABASE_SSL=true
ALLOWED_ORIGINS=http://localhost:3000,https://belimo-pulse.vercel.app
